h1 {
    color:#c1270067
}

p{
    color:rgb(253, 0, 0)
}
body{
    background-color:white
}
p{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: cursive ;
    font-size:smaller;
    line: height 50px;;
    text-transform: capitalize;
    
}

h1{
    text-decoration:overline;
     text-decoration:underline;
     font-weight: lighter;
     height: 100px;
     width: 200px;
     background-color: rgb(135, 218, 222);
     border: 0dvh;
     border-width: 0vmax;
     text-align:right;

}
h2{
    border: 5px dashed blue;
    text-align: center;
    background-color: brown;
    border-radius: 20px;
    padding-bottom: 20px;
    padding: 20px;

}
h3{
     border: 5px dashed blue;
    text-align: center;
    background-color: brown;
    border-radius: 20px;
    padding-bottom: 20px;
    padding: 20px;
    margin-bottom: 50px;
}

div{
    background-color: rgb(219, 58, 58);
    width: 100px;
    height: 100px;
    margin: 25px;
    padding: 25px;
    display: inline-block;
    
}

#box2 {
    background-color: rgb(67, 67, 163);
}

#box3 {
    background-color: bisque;
}