body{
    text-align: center;
}
div{
    height: 100px;
    width: 100px;
    display: inline-block;
    border: 2px solid black;
}
#container{
    width: 600px;
    height: 33 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    
}
#box1{
    background-color: antiquewhite;
}
#box2{
    background-color: rgb(31, 200, 45);
    height: 200px;
    flex-shrink: 0;
}
#box3{
    background-color: rgb(184, 19, 19);
    height: 75px;
}
#box4{
    background-color: rgb(182, 37, 146);
}
#box5{
    background-color: rgb(43, 48, 217);
    align-self: flex-end;
}