/* div{
    height: 100px;
    width: 200px;
    top: 100px;
    left: 100px;
    background-color: aqua;
    border: 2px solid black;
    position: absolute; */
    /* transition-property: all;
    transition-duration: 4 s;
    transition-timing-function: ease-in-out;
    transition-delay: 1s; */

    /* transition: all 2s ease-out 1s; */
    /* transform: rotate(90deg);

 */
/* 
 animation-name: colorAnimate;
 animation-duration: 0.30s;
 animation-timing-function: ease-in-out;
 animation-delay: 1s;
 animation-iteration-count: 5;
} */

/* @keyframes colorAnimate{
    from {background-color: aqua;}
    to {background-color: red;}
}
div:hover{ */
    /* background-color: brown;
    color: white; */
    /* font-size: 20px; */
    /* transform: scale(2);
    transform: rotate(180deg); */
    /* transform: translateY(100px); */
    /* transform: skew(90deg);
}
div:active{
    background-color: pink;
} */

.loader{
    height: 100px;
    width: 100px;
     border-radius: 50%;
    border: 10px solid burlywood;
    border-top: 10px solid black;
    animation:spinAnimate 3s ease-in 0s infinite normal;
}

@keyframes spinAnimate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg );
    }
}
